version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: properties_php
    working_dir: /var/www
    volumes:
      - ./:/var/www
    user: "1000:1000"
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: properties_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app-network

networks:
  app-network:
    driver: bridge